*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

:root{

  /* Background - Border */

  --background-default:#F5F4F0;
  --border-primary:#D9D9D9;

  /* text-color*/

  --text-primary:#1B1B1B;
  --text-secondary:#333333;
  --text-tertiary:#696969;
  --text-headline:#E1624F;
  
  /*Accent*/

  --accent-blue:#0C51A7; 
  --accent-orange:#E95E10; 
  --accent-pink:#E5245E; 
  --accent-purple:#591B98;

  /*Fonte-size*/
  
  font-size: 62.5%;
  
}

body{
  font-size: 1.6rem;
  font-weight: bold;
}


main{

  margin: 8.8rem auto 4rem;
  width: 112rem;
}

main img {
  width: 100%;
  border-radius: 2.8rem;
}

.introduction span {
  color: var(--text-headline);
  
  
}

.introduction h1 {
  font-size: 3.6rem;
  margin-block: 0.8rem 4rem;
 
}

.introduction p {
  text-align: center;
  margin-block: 2.4rem 4.4rem;
  font-weight: 400;
  font-style: italic;
}



